<mat-toolbar color="primary">
  <span>{{title}}</span>
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav class="mat-elevation-z8"  opened="true" disableClose="true"  mode="side">
    <mat-list>
      <ng-container *ngFor="let item of listTestImages">
        <mat-list-item (click)="selectImage(item.url)"  class="list-image-item"> {{item.name}} </mat-list-item>
        <mat-divider></mat-divider>
      </ng-container>
      <button class="button-add-image" mat-raised-button color="primary" (click)="addNewImage()">Add new image</button>
      
     </mat-list>
  </mat-sidenav>
  <mat-sidenav-content>
      <div class="content mat-elevation-z8">        
        <mat-card class="state-card no-shadow">
          <mat-card-content class="container-state">   
            <button mat-raised-button color="primary" (click)="backState()" [disabled]="pastStatesImage.length == 0">Back</button>
            <button mat-raised-button color="primary" (click)="fowardState()" [disabled]="futuresStatesImage.length == 0">forward</button>
          </mat-card-content> 
        </mat-card>
        
        <mat-card class="image-card no-shadow">
          <mat-card-content>   
            <div class="content-image">
              <picture ixPicture>
                <source ixSource [path]="imageSrc" [imgixParams]="imgixParams"/> 
                <img class="imageIx" ixImg [path]="imageSrc" [imgixParams]="imgixParams" />
              </picture>
              
            </div>            
          </mat-card-content>          
        </mat-card>
        <div class="container-url">
          <p class="title-text-url">Url generated:</p>
          <p class="text-url">{{urlGenerated}}</p>
          
        </div>
        
        <div class="container-settings">
          <mat-card class="functions-card no-shadow">
            <mat-card-header><mat-card-title>Rotation</mat-card-title></mat-card-header>
            <mat-card-content >
              <div class="container-function">
                <button mat-fab color="primary" (click)="rotate('L')">
                  <mat-icon aria-hidden="false" aria-label="">rotate_left</mat-icon>
                </button>              
              </div>
              <div class="container-function">
                <button mat-fab color="primary" (click)="rotate('R')" >
                  <mat-icon aria-hidden="false" aria-label="">rotate_right</mat-icon>
                </button>
              </div>                
            </mat-card-content> 
          </mat-card>
          <mat-card class="functions-card-adjustment " >
            <mat-card-header><mat-card-title>Adjustment</mat-card-title></mat-card-header>
            <mat-card-content >
              <div class="column-function">
              <div class="container-function">              
                <p>Brightness</p>
                <mat-slider
                  thumbLabel
                  [displayWith]="formatLabel"
                  tickInterval="0"
                  step="1"
                  min="-100"
                  max="100"
                  (change) = "changeSliderData('bri',$event)"
                  [value] = "imgixParams.bri"
                  aria-label="units"></mat-slider>
                           
              </div>
              <div class="container-function">
                <p>Contrast</p> 
                <mat-slider
                  thumbLabel
                  [displayWith]="formatLabel"
                  tickInterval="0"
                  step="1"
                  min="-100"
                  max="100"
                  (change) = "changeSliderData('con',$event)"
                  [value] = "imgixParams.con"
                  aria-label="units"></mat-slider>
                
              </div>              
              <div class="container-function">
                <p>Exposure</p> 
                <mat-slider
                  thumbLabel
                  [displayWith]="formatLabel"
                  tickInterval="0"
                  step="1"
                  min="-100"
                  max="100"
                  (change) = "changeSliderData('exp',$event)"
                  [value] = "imgixParams.exp"
                  aria-label="units"></mat-slider>              
              </div>   
            </div>   
            <div class="column-function">
              <div class="container-function">              
                <p>Gamma</p>
                <mat-slider
                  thumbLabel
                  [displayWith]="formatLabel"
                  tickInterval="0"
                  step="1"
                  min="-100"
                  max="100"
                  (change) = "changeSliderData('gam',$event)"
                  [value] = "imgixParams.gam"
                  aria-label="units"></mat-slider>
                           
              </div>
              <div class="container-function">
                <p>Highlight </p> 
                <mat-slider
                  thumbLabel
                  [displayWith]="formatLabel"
                  tickInterval="0"
                  step="1"
                  min="-100"
                  max="0"
                  (change) = "changeSliderData('high',$event)"
                  [value] = "imgixParams.high"
                  aria-label="units"></mat-slider>
                
              </div>              
              <div class="container-function">
                <p>Hue Shift</p>  
                <mat-slider
                  thumbLabel
                  [displayWith]="formatLabel"
                  tickInterval="0"
                  step="1"
                  min="0"
                  max="360"
                  (change) = "changeSliderData('hue',$event)"
                  [value] = "imgixParams.hue"
                  aria-label="units"></mat-slider>              
              </div>   
            </div> 
            <div class="column-function">
              <div class="container-function">
                <p>Saturation</p>   
                <mat-slider
                  thumbLabel
                  [displayWith]="formatLabel"
                  tickInterval="0"
                  step="1"
                  min="-100"
                  max="100"
                  (change) = "changeSliderData('sat',$event)"
                  [value] = "imgixParams.sat"
                  aria-label="units"></mat-slider>              
              </div>   
              <div class="container-function">
                <p>Shadow</p>    
                <mat-slider
                  thumbLabel
                  [displayWith]="formatLabel"
                  tickInterval="0"
                  step="1"
                  min="0"
                  max="100"
                  (change) = "changeSliderData('shad',$event)"
                  [value] = "imgixParams.shad"
                  aria-label="units"></mat-slider>              
              </div>   
              <div class="container-function">
                <p>Sharpen</p>   
                <mat-slider
                  thumbLabel
                  [displayWith]="formatLabel"
                  tickInterval="0"
                  step="0.1"
                  min="0"
                  max="100"
                  (change) = "changeSliderData('sharp',$event)"
                  [value] = "imgixParams.sharp"
                  aria-label="units"></mat-slider>              
              </div>   
              
            </div>  
            <div class="column-function">
              <div class="container-function">
                <p>Unsharp Mask</p>  
                <mat-slider
                  thumbLabel
                  [displayWith]="formatLabel"
                  tickInterval="0"
                  step="1"
                  min="-100"
                  max="100"
                  (change) = "changeSliderData('usm',$event)"
                  [value] = "imgixParams.usm"
                  aria-label="units"></mat-slider>              
              </div>  
              <div class="container-function">
                <p>Unsharp Mask Radius</p>  
                <mat-slider
                  thumbLabel
                  [displayWith]="formatLabel"
                  tickInterval="0"
                  step="1"
                  min="0"
                  max="500"
                  (change) = "changeSliderData('usmrad',$event)"
                  [value] = "imgixParams.usmrad"
                  aria-label="units"></mat-slider>              
              </div>  
              <div class="container-function">
                <p>Vibrance</p>  
                <mat-slider
                  thumbLabel
                  [displayWith]="formatLabel"
                  tickInterval="0"
                  step="1"
                  min="-100"
                  max="100"
                  (change) = "changeSliderData('vib',$event)"
                  [value] = "imgixParams.vib"
                  aria-label="units"></mat-slider>              
              </div>
            </div>
              <div class="column-function">
                <div class="container-function">
                  <mat-slide-toggle 
                  [checked] = "imgixParams.invert"
                  (change)="changeInvert($event)">Invert</mat-slide-toggle>
                </div>
              </div>  
              
              
                   
            </mat-card-content> 
          </mat-card>
        </div>
        
      </div>
  </mat-sidenav-content>
</mat-sidenav-container>
